body {
  font-family: 'Roboto', sans-serif;
  background-color: #ECFEFF;
}

#sign-in {
  width: 90%;
  margin: 0 auto;
}

#sign-in {
  width: 90%;
  margin: 0 auto;
}

.form-label{
  font-weight: 700;
}
.account button {
  border-radius: 58px;
  background-color: #128494; 
  border: none;
  padding: 25px 15px;
  color: #000;
  font-weight: 700;
}

.account button:hover {
  color: #fff
}

input.sign-in-submit {
  border-radius: 58px;
  background-color: #128494;
  padding: 10px 15px; 
  border: none;
  color: #000;
  font-weight: 700;
}

input.sign-in-submit:hover {
  color: #fff;
}

input#account-register {
  border-radius: 60px;
  background-color: #8AC76D;
  padding: 8px 40px; 
  border: none;
  color: #000;
  font-weight: bold;
}
input#account-register:hover {
  color: #ffffff;
}

.register-form {
  width: 90%;
  margin: 0 auto;
}

.register-col p {
  font-size: 24px;
  font-weight: 500;
}
.register-col a {
  font-size: 16px;
  text-decoration: none;
  color: inherit; 
} 
.register-col a .login {
  font-size: 18px;
}

.navbar {
  padding: 10px 25px;
  margin-bottom: 100px;
  background-color: #128494;
  color: #ffffff;
  font-size: 18px;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar a:hover {
  color: #000;
}

.navbar p {
  margin-bottom: .5rem;
}

#clambr {
  color: white;
  font-weight: bold;
  font-size: 64px;
  font-family: 'Poppins', sans-serif;
}
.user {
  display: flex;
  justify-content: flex-end;
} 
.icon {
  display: flex;
  justify-content: flex-end;
}
.logout {
  display: flex;
  justify-content: flex-end;
}


#calendar {
  font-weight: bold;
}

#createbtn {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: #8AC76D;
  border-color: #8AC76D;
  color: #000;
  /* margin-left: 33px;  */
}

#menubar {
background-color: #128494;
height: 100vh;
margin-top: 30px;
margin-left: -200px;
padding-left: -50px;
text-align: right;

}

#menubar a:active {
  background-color: #00B7C2;
}

#profileBody {
  margin-top: 82px;
}

#row {
  flex-grow: 1;
  justify-content: center;
}

/**** MEDIA QUERY LEAVE AT BOTTOM ****/
@media (max-width: 768px) {
  .row {
    height: 1134px !important;
  }
  .splash {
    background-size: cover !important;
  }
  span#clambr {
    font-size: 3rem;
    display: block; 
  }
  .user-col {
    flex-direction: column;
  }
  .user-col p {
    display: none;
  }
  .navbar p {
    padding-right: 0;
  }
}
