
.form-label{
  font-weight: 700;
}
button.create-acc {
   border-radius: 58px;
   background-color: #128494; 
   border: none;
   padding: 25px 15px;
   color: #000;
   font-weight: 700;
}

input.sign-in-submit {
  border-radius: 58px;
  background-color: #128494;
  padding: 10px 15px; 
  border: none;
  color: #000;
  font-weight: 700;
}

@media (max-width: 768px) {
  .form {
    margin-top: 130px;
  } 
}

.navbar {
  padding-left:30px;
  padding-right:30px;
  padding-bottom: 1px;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 100px;
  background-color: #128494;
  color: #ffffff;
  font-size: 15px;

}

#clambr {
  color: white;
  font-weight: bold;
  font-size: 25px;
  } 